<div class="flex flex-wrap min-h-[50px] mt-4">
    <img class="w-10 h-10 rounded-full text-txt" [src]="message['profilePicUrl']" [alt]="message['name']" />
    <span class="mx-5 my-auto text-txt">{{message['name']}}: </span>
</div>
<div class="mt-4 ml-12 p-5 rounded-3xl max-w-xl text-txt bg-sub break-all">
    <div *ngIf="message['text'] && message['text'].length > 0">
        {{message['text']}}
    </div>
    <div *ngIf="message['imageUrl'] && message['imageUrl'].length > 0">
        <img class="max-w-[150px]" [src]="message['imageUrl']" alt="image" />
    </div>
</div>