<div class="flex flex-wrap items-end auth" *ngIf="user$ | async as user; else showLogin">
  <div class="flex flex-wrap justify-between">
    <div class="dropdown inline-block relative">
      <img class="w-10 h-10 rounded-full" [src]="user?.photoURL" [alt]="user?.displayName" />
        <ul class="dropdown-menu absolute hidden pt-3 w-48 right-2 bg-secondary">
            <li class="">
                <a class="bg-sub hover:bg-sub py-3 px-4 block whitespace-no-wrap font-semibold text-txt" href="/" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
  </div>
</div>

<ng-template #showLogin>
  <button class="py-2 px-4 rounded inline-flex items-center font-semibold text-txt border-2 border-sub" (click)="login()">Login with Google</button>
</ng-template>