<div class="min-h-screen h-full min-w-screen w-full bg-blue-50">
  <div class="w-3/4 bg-blue-10 min-h-screen h-full mx-auto flex flex-col flex-grow pb-56">
      <div *ngFor="let message of (messagesReversed | async) as messages;">
          <div class="flex flex-col flex-grow p-4 space-x-3">
              <div *ngIf="user$ | async as user">
                  <app-message-item [message]="message"></app-message-item>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="bg-white w-full max-h-32 min-h-32 h-auto bottom-0 fixed">
    <div class="flex-wrap flex w-5/6 mx-auto">
        <input type="file" class="file-input hidden" (change)="this.uploadImage($event)" #fileUpload>
        <div class="file-upload w-16 h-16 rounded-full bg-amber-600 my-3">
            <button color="primary" class="upload-btn w-16 h-16 text-center" (click)="fileUpload.click()">
                <div class="text-white text-4xl text-bold text-center pb-2">↑</div>
            </button>
        </div>
        <textarea
            class="w-4/5 mx-auto h-16 rounded-3xl my-auto text-gray-900 border-black border-2 border-solid dark:placeholder-gray-400 p-4 no-scrollbar overflow-y-auto resize-none"
            placeholder="Send message here..." [(ngModel)]="this.text" (keyup.enter)="this.sendTextMessage()"></textarea>
        <button class="w-16 h-16 rounded-full bg-amber-600 my-3 place-content-center" (click)="this.sendTextMessage()">
          <div class="text-white text-4xl text-bold text-center pb-2">→</div>
        </button>
    </div>
</div>